<div class="text-center">
    <div class="m-1">@Message</div>

    <button @onclick="Close" class="btn-with-shadow btn btn-primary m-3">Close</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public string? Message { get; set; }

    private async Task Close() => await BlazoredModal.CloseAsync();
}